<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
  <select id="selectList" >
    /* userMapper.selectList */
    SELECT
        USER_ID
      , PWD_NOT_MATCH_CNT
      , USER_NAME
    FROM
      TB_USER_MST
    WHERE 1 = 1
      <if test="user_id != null and user_id != '' ">
        AND USER_ID = #{user_id}
      </if>
  </select>
  <insert id="insert">
    INSERT  INTO TB_USER_MST
    (
        user_id
        , pwd_not_match_cnt
        , user_name
        , user_pwd
        , user_tel_no
        , password_not_match_cnt
    )
    VALUES(
            #{user_id}
          , 0
          , #{user_name}
          , SHA2(#{user_pwd},256)
          , #{user_tel_no}
          , 0
          )
  </insert>
</mapper>